<h3>Results for "<%= h @query %>"</h3>

<%= render :partial => 'shared/user', :collection => @users unless @users.blank? %>

<%= render :partial => 'assets/asset', :collection => @assets  unless @assets.blank? %>
